/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
  padding: 0;
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
/* p {
  text-wrap: pretty;
} */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}


:root {
  --primary-color: #202637;
  --secondary-color: #00e1dc;
  --color-background: #ffffff;
  --font-size-base: 16px;
  --line-height-base: 1.5;
  --spacing-md: 30px;
  --spacing-section: 24px;
  --spacing-sm: 16px;
  --color-icon: #19a6a8;
  --color-green: 219, 240, 223;
  --color-blue: 219, 239, 246;
  --color-separator: rgb(218, 218, 218);
  --font-family: Poppins, sans-serif;
  --color-dark-green: #0f2d3a;
}

body {
  color: #000000;
  font-family: var(--font-family);
}


.mobile-header__link {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.header {
  padding: var(--spacing-sm) var(--spacing-md);
  background-color: var(--primary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
}

.header__items {
  display: flex;
  gap: 12px;
  align-items: center;
}

.nav__button {
  background-color: transparent;
  border: none;
}

.header__link-svg,
.nav__button-svg {
  fill: white;
}

.header__logo-img {
  height: 40px;
  width: auto;
}

.nav__menu {
  display: none;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: var(--spacing-sm) var(--spacing-md) 0 var(--spacing-md);
  font-weight: lighter;
}

.breadcrumbs__link {
  text-decoration: none;
  color: black;
  word-break: keep-all;
}

.breadcrumbs__separator-icon {
  fill: black;
  height: 20px;
  width: 20px;
}

.breadcrumbs__current {
  opacity: 50%;
  color: black;
}

.section {
  margin: var(--spacing-md) 0;
  padding: 0 var(--spacing-md);
}

.section__title {
  line-height: 1.15;
  font-weight: 500;
  font-size: 2rem;
  padding-bottom: var(--spacing-sm);
}

.section__title--2 {
  line-height: 1.15;
  font-weight: 500;
  font-size: 1.6rem;
}

.section__title--3 {
  line-height: 1.15;
  font-weight: 500;
  font-size: 1.2rem;
}
 .section__container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm)
} 

.section__content{
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: start;
}

.resort__overview {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.reviews {
  display: flex;
  gap: 10px;
  align-items: center;
}

.reviews__star {
  fill: orange;
}

.reviews__star--disabled {
  fill: grey;
}

.reviews__stars-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
.reviews__overview, .properties__item-title{
  font-weight: bold;
  opacity: 70%;
  word-break: keep-all;
}


.properties {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.properties__item {
  display: flex;
  gap: 5px;
  align-items: center;
  flex-wrap: nowrap;
}

.properties__item-icon {
  fill: var(--color-icon);
  height: 20px;
  width: 20px;
}

.separator {
  width: 2px;
  align-self: stretch;
  background-color: #000000;
  opacity: 30%;
}

.vertical-separator {
  height: 100%;
  width: 1px;
  background-color: white;
}

.gallery {
  position: relative;
  border-radius: 10px;
  height: minmax(300px, 700px);
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.gallery__view {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.active {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.gallery__navigation {
  position: absolute;
  list-style: none;
  bottom: 10px;
  right: 50%;
  transform: translateX(50%);
  display: flex;
  gap: 5px;
  align-items: center;
}

.gallery__navigation-circle {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: 1px solid white;
  cursor: pointer;
}

.gallery__navigation-circle--active {
  background-color: white;
}

.gallery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.show-more {
  text-transform: uppercase;
  font-weight: bold;
  opacity: 40%;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
  cursor: pointer;
}

.history {
  padding: var(--spacing-md);
  border: 2px solid rgba(var(--color-green), 1);
  border-radius: 10px;
  background-color: rgba(var(--color-green), 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.history > img {
  margin: 0 auto;
  margin-bottom: 10px;
}

.history > p {
  text-align: center;
}

.features {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-sm);
  align-items: start;
}

.features__item {
  display: flex;
  align-self: stretch;
  padding: var(--spacing-sm);
  border: 3px solid rgba(var(--color-blue), 1);
  border-radius: 10px;
  background-color: rgba(var(--color-blue), 0.5);
  gap: 10px;
}

.feature__icon {
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  background: linear-gradient(135deg, var(--color-icon) 50%, transparent 50%)
}

.feature_text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.feature_text > h3 {
  line-height: 1;
}

.accordion {
  width: 100%;
  padding: 0 var(--spacing-md);
  border: 3px solid rgba(var(--color-blue), 1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.accordion__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  padding: var(--spacing-md) 0;
  cursor: pointer;
}

.accordion__icon {
  height: 24px;
  width: 24px;
}

.accordion__item {
  display: flex;
  flex-direction: column;
}

.accordion__item:not(:last-child) {
  border-bottom: 2px solid rgb(218, 218, 218);
  padding-bottom: var(--spacing-md);
}

.accordion__content {
  display: none;
}

.accordion__content--open {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm)
}

.multicolumn-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  gap: 10px;
}

.multicolumn-list__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 5px;
  margin-bottom: 5px;
}

.highlighted {
  padding: var(--spacing-md);
}

.highlighted__container {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.highlighted__content {
  padding: var(--spacing-md);
  border-radius: 10px;
  background-color: rgba(var(--color-blue), 0.5);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.map {
  border-radius: 10px;
  overflow: hidden;
}

.map__iframe {
  border: none;
  width: 100%;
  height: 400px;
}

.horizontal-separator {
  height: 2px;
  width: 100%;
  background-color: var(--color-separator);
  /* margin: var(--spacing-sm) 0; */
}

.horizontal-separator--half {
  height: 2px;
  width: 50%;
  background-color: var(--color-separator);
  /* margin: var(--spacing-sm) 0; */
}

.thin-line-y {
height: 0.5px;
}

.booking-section {
  padding: var(--spacing-md);
  border: 3px solid rgb(var(--color-blue));
  border-radius: 10px;
}

.booking-section__list {
  display: flex;
flex-direction: column;
  gap: var(--spacing-sm);
}

.booking-section__list-item {
  display: flex;
  gap: 10px
}

.policies {
  padding: var(--spacing-md);
  border-radius: 10px;
  border: 3px solid rgb(var(--color-blue));
  background-color: rgba(var(--color-blue), 0.5);
}


.policies__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-md)
}

.policies__list-item-text {
  font-size: 0.8rem;
}

.policies__list-item:nth-child(odd) {
  border-right: 1px solid var(--color-separator);
  padding-right: var(--spacing-md);
}

.user-reviews {
  text-align: center;
}

.user-reviews__items {
  display: flex;
  gap: var(--spacing-sm);
}

.user-reviews__item {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
  padding: var(--spacing-md);
  border: 2px solid rgb(var(--color-blue), 1);
  border-radius: 10px;
  text-align: center;
}

.user-reviews__header {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.user-reviews__footer {
  display: flex;
  justify-content: center;
  margin-top: var(--spacing-md);
  align-items: center;
  gap: 10px;
}

.user-reviews__rating {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user-reviews__star {
  width: 24px;
  height: 24px;
  aspect-ratio: 1;
}

.user-reviews__verify {
  opacity: 50%;;
}

.user-reviews__avatar {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  object-fit: cover;
  object-position: center;
  background-color: #000;
}

.progress {
  height: 10px;
  max-width: 300px;
  width: 100%;
  border-radius: 20px;
  background-color: rgb(180, 180, 180);
  margin: 20px auto;
}

.progress__variable {
  width: 50%;
  height: 100%;
  border-radius: 20px;
  background-color:var(--color-icon)
}

.faq {
  background-color: rgb(var(--color-blue),1);
  padding: var(--spacing-md) var(--spacing-section);
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 10px;
  text-align: center;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(153, 153, 153, 0.3);
  text-align: left;
}

.card__image {
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}

.card__image > img {
  object-fit: cover;
  object-position: center;
}


.card__details {
  padding: var(--spacing-sm);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card__details-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 2px;
}


.card__button {
  text-transform: uppercase;
  letter-spacing: 1.2;
  border-radius: 30px;
  padding: 10px 10px;
  background-color: var(--color-icon);
  color: white;
  border: none;
  margin-top: 5px;
}

.card__more-btn {
  padding: 10px 10px;
  border-radius: 30px;
  border: 2px solid black;
  text-transform: uppercase;
  letter-spacing: 1.2;
  color: black;
  max-width: 200px;
  margin-top: 20px;
  background-color: transparent;
}

.card__properties {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.card__section {
  text-align: center;
}

.card__properties > li {
color: rgb(141, 141, 141); 
white-space: nowrap;
margin: 0 15px;
}

.card__properties > li:first-child {
  list-style-type: none;
} 


.card__logo {
  width: 100px;
}

.footer {
  color: white;
  margin-top: 20px;
  background-color: var(--color-dark-green);
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}


.footer__logo-container  {
  display: flex;
  justify-content: start;

}

.footer__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-sm);
}

.footer__list > a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
}

.footer__navigation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-md);
}

.footer__navigation-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__navigation-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer__navigation-list > li {
  white-space: nowrap;
}

.footer__navigation-title {
  color: var(--color-icon);
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}


.footer_link {
  display: flex;
  gap: 20px;
  align-items: center;
}

.footer_link > a {
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}

.footer__logo {
  width: 200px;
}
.footer__mark {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__bottom-container {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 10px;
}

.footer__bottom-text {
  max-width: 600px;
}

.poweredby {
  display: flex;
  gap: 20px;
}

.house-rating {
  display: flex;
  gap: 5px;
  align-items: center;
}

.side-content {
  margin: var(--spacing-md) var(--spacing-md) var(--spacing-md) 0;
  width: 100%;
  display: none;
}

.side-card {
  border-radius: 10px;
  box-shadow: 0 5px 10px rgb(201, 200, 200);
  white-space: nowrap;
  margin: 10px 10px;
}

.side-card__price {
  display: flex;
  gap: 10px;
  align-items: center;
}

.side-card__container {
  padding: var(--spacing-md);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: stretch;
}


.side-card__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.side-card__select {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
}

.availablity {
  display: flex;
  gap: 5px;
  border-radius: 5px;
  align-items: center;
  padding: 5px;
  border: 2px solid rgb(var(--color-blue));
}

.cta-btn {
  border-radius: 5px;
  width: 100%;
  padding: 10px 10px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1.2;
  background-color: var(--color-icon);
  border-width: 0;
}

.input-row {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}
.input-row > input {
  width: 100%;
  padding: 10px 5px;
  border-radius: 5px;
}

.scrollable-content {
  overflow-y: auto
}

/* helper classes */

.icon-base {
  height: 24px;
  width: 24px;
  aspect-ratio: 1;
}

.icon-circle {
  background-color: var(--primary-color);
  width: 20px;
  height: 20px;
  aspect-ratio: 1;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.padding-y-sm {
  padding-top: var(--spacing-sm) !important;
  padding-bottom: var(--spacing-sm) !important;
}

.padding-y-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.padding-x-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.text-small {
  font-size: 0.8rem;
}

.dim {
  opacity: 50%;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column !important;
}

.space-between {
  display: flex;
  justify-content: space-between;
}


.bigger-screen__link {
  display: none;
  gap: 10px;
  align-items: center;
}

.bigger-screen__link > a {
  font-size: 0.8rem;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 20px;
  text-transform: uppercase;
  white-space: nowrap;
}

.normal-btn {
  background-color: white;
  color: black;
}

.highlight-btn {
  background-color: var(--color-icon);
  color: white;
}


@media (max-width: 375px) {
  :root {
    --spacing-md: 20px;
    --spacing-sm: 12px;
  }

.footer__navigation-list > li {
  white-space: wrap;
}

}


@media (max-width: 768px) {
  :root {
    --spacing-md: 24px;
    --spacing-sm: 15px;
  }

.footer__navigation-list > li {
  white-space: wrap;
  }
}

@media (min-width: 768px) {
  .features {
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-sm);
  align-items: start;
}

 .policies__list {
  grid-template-columns: repeat(3, 1fr);
 }

  .policies__list-item:nth-child(odd) {
  border-right: none;
  padding-right: var(--spacing-md);
}

 .policies__list-item:not(:nth-child(3n)) {
  border-right: 1px solid var(--color-separator);
  padding-right: var(--spacing-md);
}
.multicolumn-list {
  grid-template-columns: repeat(4, 1fr);
}

  .card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  }

 .faq {
  border-radius: 10px;
  margin: 0 var(--spacing-md);
 }

 .mobile-header__link {
  display: none;
 }

.bigger-screen__link {
  display: flex;
}

  .history {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
  }

  .history > img {
    margin: 0 10px 0 0;
  }

  .history > p {
    text-align: left;
    padding-left: 20px;
    border-left: 1px solid rgb(216, 216, 216);
  }


.footer__list {
  display: flex;
  flex-direction: row;

  flex-wrap: wrap;
  gap: 30px;
}

.footer__list > a {
  white-space: nowrap;
}

.footer__navigation {
  grid-template-columns: repeat(3, 1fr);
}

}


@media (min-width: 1024px) {
  main {
    display: grid;
    grid-template-columns: auto 400px;
    height: 100vh;
  }

  .side-content {
    display: block;
  }

  .highlighted__container  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-md)
  }

  .map__iframe {
    height: 100%;
  }

  .multicolumn-list {
  grid-template-columns: repeat(5, 1fr);
}

  .card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

.footer__navigation {
  grid-template-columns: repeat(5, 1fr);
}

}